* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Varela Round', sans-serif;
  }
body {
    background-color: #d7adeb;
  }

a {
  font-size: 25px;
    font-weight: 600; 
    filter: drop-shadow(1px 1px 1px #ffffffd2 );
    text-decoration: none;
    color: rgb(61, 0, 87);
    cursor: help;
  }

  a:hover {
    color: rgb(32, 43, 201);
    text-decoration: underline;
  }
  
  a:active{
    color: rgb(75, 0, 119);
  }


  /* The board pictures */
  .wrapper {
    box-sizing: content-box;
    width: 26.87em;
    padding: 2.5em 3em;
    background-color: #ffffff;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    border-radius: 1.8em;
    box-shadow: 0 0.9em 2.8em rgba(31, 1, 3, 0.582);
  }

  /* The design of the photo squares */
  .game-container {
    position: relative;
    width: 100%;
    display: grid;
    gap: 0.6em;
  }

  /* moves and timer */
  .stats-container {
    text-align: left;
    margin-bottom: 1.5em;
  }

/* font moves and time */
  .stats-container span {
    font-weight: 650;
  }
  
  /* size card */
  .card-container {
    position: relative;
    width: 6.25em;
    height: 6.25em;
    cursor: pointer;
  }

  /* Card design */
  .card-front,
  .card-after {
    position: absolute;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px solid #381150;
    transition: transform 0.7s ease-out;
    backface-visibility: hidden;
  }
  
/* front cards */
  .card-front {
    background-color:rgba(93, 199, 231, 0.705);
    font-size: 2.8em;
    font-weight: 600;
  }

/* hide the card */
  .card-after {
    background-color: #ffffff;
    transform: rotateY(180deg);
  }

/* Card rotation time */
  .card-container.flipped .card-front {
    transform: rotateY(180deg);
  }

/* Card rotation */
  .card-container.flipped .card-after {
    transform: rotateY(0deg);
  }

  /* front main page  */
  .controls-container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #d7adeb;
    top: 0;
    box-sizing: content-box;   
  }

/* Button design */
  button {
    border: none;
    border-radius: 0.5em;
    padding: 1em 1.2em;
    cursor: pointer;
  }
/* stop design */
  #stop {
    font-size: 1.5em;
    display: block;
    margin: 1.0em auto 0 auto;
    background-color:  #33163f;
    color: #ffffff;
  }

  /* Button design */
  .controls-container button {
    font-size: 2.5em;
    box-shadow: 0 0.6em 2em rgba(27, 3, 31, 0.637);
  }

  .hide {
    display: none;
  }

  #result {
    text-align: center;
  }

  #result h2 {
    font-size: 2.5em;
  }
  #result h4 {
    font-size: 1.8em;
    margin: 0.6em 0 1em 0;
  }

  
/* Design and presentation of body2 */
  .body2 {
    margin: 0;
    padding: 95px;
    font-size: 25px;
    position: absolute;
    background-color:rgb(243, 231, 253);
    line-height: 42px;
  }

  .h2_2{
    color: rgba(62, 21, 92, 0.904);
    font-size: 1.5em;
    z-index: 10;
    font-weight: 550;
  }

  .box{
    position: relative;
    width: 320px;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(243, 231, 253);
    overflow: hidden;
    border-radius: 16px;
  }
  
  .box::before{
    content:'';
    position: absolute;
    width: 100px;
    height: 350%;
    background: linear-gradient(#ff00ea, #4763ff);
    animation: animate 4s linear infinite;
  }
  
  .box::after{
    content:'';
    position: absolute;
    inset: 4px;
    background: rgb(243, 231, 253);
    border-radius: 16px;
  }
  
    
  @keyframes animate
  {
    0%
   {
    transform: rotate(0deg);
  }
  100%
  {
    transform: rotate(360deg);
  }
  }
  

/* Design and presentation of the links */
.a2 {
  font-size: 28px;
    font-weight: 600; 
    filter: drop-shadow(1px 1px 1px #ffffffd2 );
    text-decoration: none;
    color: rgb(61, 0, 87);
    cursor: help;
  }

  .a2:hover {
    color: rgb(32, 43, 201);
    text-decoration: underline;
  }
  
 .a2:active{
    color: rgb(75, 0, 119);
  }